<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mentions légales - StageFinder</title>
        <link rel="stylesheet" href="assets/base.css">
        <link href="https://fonts.googleapis.com/css2?family=Single+Line&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/Logo_cesi_2022.png">
    </head>

    <body>


    <main>

        <!--header -->
        {% include 'header.twig' %}

        <section>

            <article>
                <h1> Guide d'utilisation </h1>

                    <h2> Connection au profil </h2>

                        <ul>
                            <li>Rendez-vous sur la page d'accueil du site.</li>
                            <li>Cliquez sur "Connexion" et remplissez les champs demandés (e-mail et mot de passe).</li>
                            <li>Validez votre connexion en cliquant sur le bouton "login".</li>
                        </ul>

                    <h2> Compléter votre profil </h2>

                        <ul>
                            <li>Accédez à votre espace personnel.</li>
                            <li>Ajoutez votre CV et une lettre de motivation.</li>
                            <li>Remplissez les informations concernant votre formation, vos compétences et vos expériences professionnelles.</li>
                        </ul>

                    <h2>Rechercher un stage</h2>

                        <ul>
                            <li>Rendez-vous sur la page "Trouver un job"</li>
                            <li>Filtrez les résultats par localisation, durée, type de contrat, et type d'entreprise.</li>
                            <li>Consultez les offres et sélectionnez celles qui correspondent à vos critères./li>
                        </ul>

                    <h2>Postuler à une offre</h2>

                        <ul>
                            <li>Cliquez sur l'offre qui vous intéresse.</li>
                            <li>Lisez attentivement la description et les prérequis.</li>
                            <li>Cliquez sur "Postuler" et joignez votre CV et lettre de motivation.</li>
                            <li>Remplissez les informations supplémentaires demandées si nécessaire.</li>
                        </ul>

                    <h2>Suivi des candidatures</h2>

                        <ul>
                            <li>Consultez la rubrique "Mes candidatures" dans votre profil pour voir l'état de vos demandes.</li>
                            <li>Si nécessaire, relancez les recruteurs par email ou via la messagerie du site.</li>
                        </ul>

                    <h2>Se préparer à un entretien</h2>

                        <ul>
                            <li>Si vous êtes sélectionné, planifiez un rendez-vous avec le recruteur.</li>
                            <li>Renseignez-vous sur l'entreprise et l'offre en question.</li>
                            <li>Entraînez-vous à répondre aux questions d'entretien courantes.</li>
                        </ul>

                    <h2>Finaliser votre embauche</h2>

                        <ul>
                            <li>Une fois accepté, lisez attentivement votre convention de stage.</li>
                            <li>Assurez-vous que toutes les informations sont correctes.</li>
                            <li>Signez et faites signer votre convention par les parties concernées.</li>
                        </ul>


                    <br><br><br><br>
            </article>

        </section>
    </main>

        <!--footer -->
        {% include 'footer.twig' %}
    </body>

</html>

