<header>
    <a href="/" class="logo">
        <img src="images/logo.png">
    </a>
    <ul class="navlist">
        <li><a href="/offer">Offres</a></li>
        <li><a href="/company">Entreprises</a></li>
        {% if droits['Rechercher un compte étudiant']%}
            <li><a href="/student">Trouver un étudiant</a></li>
        {% endif %}
        {% if droits['Rechercher un compte pilote']%}
            <li><a href="">Trouver un pilote</a></li>
        {% endif %}
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>

    <div class="right-content">
        <form method="POST" class="formheader">
            <input type="hidden" name="action" value="logout">
            <button type="submit" class="nav-btn">Déconnexion</button>
            <div class="ri-menu-line" id="menu-icon"></div>
        </form>
    </div>
</header>