<div id="popup-overlay-supr">
	<div class="popup-content">
		<h2>Etes-vous sûr de vouloir supprimer l'offre</h2>
		<form id="application-form2" method="post" enctype="multipart/form-data" action="">
			<input type="hidden" id="offer-id-supr" name="offer_id-supr">
			<input type="hidden" id="remove" name="remove" value="1">
			<button type="submit" class="supprimer-btn">Oui</button>
		</form>
		<a href="javascript:void(0)" onclick="togglePopupSupr()" class="popup-exit">×</a>
	</div>
</div>
