*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

:root{
    --bg-color: #f9ecd6;
    --text-color: #000000;
    --main-color: #FBE315;

    --big-font: 6.6rem;
    --p-font: 1rem;   
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
} 

/*
##################################################
navbar
##################################################
*/

header{
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlist{
    display: flex;
}

.navlist a{
    display: inline-block;
    margin: 0 35px;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .6s ease;
}

.navlist a:hover{
    color: var(--main-color)
}

.right-content{
    display: flex;
    align-items: center;
}

.nav-btn{
    display: inline-block;
    justify-items: center;
    align-items: center;
    padding: 9px 24px;
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 7px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
}

.formheader {
    margin: 0;
}

.nav-btn:hover{
    transform: translateY(-5px);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#menu-icon{
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

@media(max-width: 950px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 100px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(32px);
        transition: all .6s ease-in-out;
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: 0px 0px 25px 0px;
        font-size: 1.7rem;
    }
    .navlist.open{
        left: 0;
    }
}


/*
##################################################
*/

/*
##################################################
*/

footer{
    margin : 0;
    box-sizing: border-box;
    width: 100%;
    position : bottom;
    bottom: 0;
    background: linear-gradient(to right, #010010d8, #292d00);
    color: #fff;
    padding: 50px 0 15px;
    border-top-left-radius: 125px;
    font-size: 12px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 20%;
    padding: 10px;
}

.col:nth-child(2), col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position : relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #1f1f1f;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;   
}

form button .fas{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation :moving 2s linear infinite;
}

 @keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100px;
    }
 }

 @media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    
    .col:nth-child(2), col:nth-child(3){
        flex-basis: 100%;
    }
 }
/*
##################################################
*/

/*
##################################################
media queries
##################################################
*/
@media(max-width: 1770px){
    header{
        padding: 22px 4%;
    }
    .scroll{
        right: 4%;
    }
}

@media(max-width: 1670px){
    :root{
        --big-font: 5.5rem;
        --p-font:15px;
    }
}

