body {
    background-color: #ffffff;
    font-family: 'Single Line', sans-serif;
}

h1,
h2 {
    color: #444;
}

/*
##################################################
Navbar
##################################################
*/

nav {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;

    width: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;

    padding: 20px;
    margin: 0;
    gap: 20px;
    align-items: center;
    background-color: #EEEEEE;
    list-style-type: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

nav ul li {
    cursor: pointer;
}

nav ul li.right {
    margin-left: auto;
}

nav ul li.logo {
    margin-right: 20px;
}

nav ul li.page-actuelle {
    background: linear-gradient(to right, #e0e0e0, #EEEEEE);
    padding: 8px;
    border-radius: 25px;
    font-weight: bold;
}

nav a {
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
}

nav a:hover {
    font-weight: bold;
}


#login-pc {
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: rgb(29, 29, 29);
    border-radius: 8px;
    color: #ffffff;
}

#login-portable {
    display: none;
}

@media (max-width: 768px) {
    #login-pc {
        display: none;
    }

    #login-portable {
        display: flex;
    }
}

/*
##################################################
*/

/*
##################################################
Footer
##################################################
*/
footer {
    background-color: #222222;
    color: white;
    padding: 20px 0;
    font-family: Inter, sans-serif;
    border-top: 1px solid black;
    font-style: italic;
    position: absolute;
    left: 0;
    width: 100%;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons svg {
    width: 24px;
    height: 24px;
}

.copyright {
    font-size: 12px;
}

/*
##################################################
*/

.item {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.item h4 {
    margin: 0;
    font-size: 16px;
}

.item p {
    margin: 5px 0 15px;
    font-size: 14px;
    color: gray;
}

