main{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: auto; /* Assure que le parent ait une hauteur */
}

.main-student{
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    height: auto;
    margin-bottom: 20px;

}

.student-account{
    display: inline-block;
    margin-top: 5px;
    height: 500px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profil{
    display: flex;
    justify-content: center;

}

.profil-picture{
    width: 124px;
    height: 124px;
    margin-top: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profil-picture img{
    height: 80%;
    width: 80%;
}

.name{
    text-align: center;
}

.name-student{
    margin-top: -20px;
    font-size: 20px;
}

.name-student p{
    margin-top: -30px;
    margin-bottom: 40px;
    font-size: 15px;
}

.description {
width: auto;
display: block;
}

.description .part{
    display: flex;
    text-align: left;
    margin-left: 15px;
    margin-bottom: -20px;
}

.description .logo{
    width: 30px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.profil-modifier{
    width: 26%;
    height: 15%;
    display: block; /* Change ici */
    position: absolute;
    left: 2%;
    top: 85%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profil-modifier:hover{
    background-color: #c1c1c1;
}


.right-container{

    display: inline-block;
    flex-direction: column;
    background-color: yellow;
}

.cv {
    position: absolute;
    top: 0;
    width: 65%;
    height: 150px;
    margin: 10px;
    margin-left: 30px;

}

.cv-title{
    color: black;
}

.cv-name-container{
    position: relative;

    width: 100%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cv-name{
    height: 100%;
    margin-left: 4%;
    display: inline-block;
}

.cv-name p{
    font-size: 20px;
    font-weight: bold;
}

.cv-modifier {
    width: 20%;
    height: 80%;
    display: block; /* Change ici */
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




.cv-modifier:hover {
    background-color: #c1c1c1; /* Couleur au survol */
}

.student-description-container{
    position: absolute;
    width: 65%;
    height: auto;
    margin-left: 30px;
    margin-top: -15%;

}

.student-description{
    position: absolute;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.student-description p{
    margin: 10px;
}